@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="testBtn">测试按钮</button>
</div>

<script>
    function test(str) {
        alert("测试" + str);
        return "load方法运行完毕！" + str;
    }

    function testBytes(fileBytes) {
        alert(fileBytes);
    }

    //test("你好");
    document.getElementById("testBtn").onclick = function () {

        boundAsync.getBytes().then(function(actualResult) {
            alert(actualResult[0]);

            //boundAsync.writeData([1,2,3]);
            //boundAsync.writeData(actualResult);
            boundAsync.writeStringData("测试输入字符串", "sadfasf");

            alert("type:" + Object.prototype.toString.call(actualResult));
        });
      
        boundAsync.WriteStringData("我来了，我是js");

        boundAsync.add(16, 2).then(function (actualResult)
        {
            alert("相加结果12" + actualResult);
        });

        boundAsync.getData().then(function(actualResult) {
            alert("Data" + actualResult);
        });
    };

    (async function()
    {
        await CefSharp.BindObjectAsync("boundAsync");

        //The default is to camel case method names (the first letter of the method name is changed to lowercase)
        boundAsync.add(16, 2).then(function (actualResult)
        {
            const expectedResult = 18;
            alert("相加结果" + actualResult);
            assert.equal(expectedResult, actualResult, "Add 16 + 2 resulted in " + expectedResult);
        });
    })();

</script>